<meta name="viewport" content="width=device-width, initial-scale=1" > :root {
  text-align: center;
  font-size: small;
  font-family: Arial;
}

body {
  padding-right: 0%;
  color: whitesmoke;
}

title {
  padding-right: 0%;
  color: whitesmoke;
}

h1 {
  text-align: center;
  font-size: xx-large;
  font-family: "Apple Chancery";
  padding-right: 0%;
  color: whitesmoke;
}

ol {
  list-style-type: none;
  position: relative;
  color: whitesmoke;
  padding-right: 10%;
}

ol::before {
  content: none;
  position: absolute;
  left: -0.8em;
  font-size: 2em;
}

h2 {
  font-family: "Apple Chancery";
  font-weight: bold;
  color: whitesmoke;
}

li.linkedin {
  background-image: url("linkedinLogo.png");
  background-repeat: no-repeat;
  background-size: 20px;
  list-style: none;
  margin: 0;
  background-position: left center;
  padding: 10px 36px 10px;
}

li.github {
  background-image: url("githublogo.png");
  background-repeat: no-repeat;
  background-size: 20px;
  list-style: none;
  margin: 0;
  background-position: left center;
  padding: 10px 36px 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #333333;
  overflow: hidden;
  flex: 1;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #06754c;
  color: white;
}

.topnav a.lactive {
  background-color: #04aa6d;
  color: white;
  text-align: left;
  align-self: left;
}

/* Change colour of link when visited*/
a:visited {
  color: #06754c;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: aqua;
  background-color: transparent;
  text-decoration: none;
}

.one {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.one div {
  width: 100%;
}

.footer {
  background-color: #04aa6d;
  text-align: center;
  color: whitesmoke;
}
